* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
	background: #fff url(../images/world.jpg) no-repeat top left;
}

.title {
	width: 548px;
	height: 119px;
	position: absolute;
	top: 400px;
	left: 150px;
	background: transparent url(../images/new_title.png) no-repeat top left;
}

a.back {
	background: transparent url(../images/back.png) no-repeat top left;
	position: fixed;
	width: 150px;
	height: 27px;
	outline: none;
	bottom: 0px;
	left: 0px;
}

#content {
	margin: 0 auto;
}

.item h2{
	font-family: museo-slab, Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
}