@(title : String)
<form method="post" action="/create">
<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-2">
			<img width=144px height=144px id="img-click" src="@routes.Assets.versioned("images/octopi.png")" alt="..."class="img-rounded">
		</div>
		<input type="hidden" name='w-img' id='img-link' value="images/octopi.png">
		<div class="col-md-6">
			<div class="form-group has-success">
				<div class="input-group">
					<span class="input-group-addon">Title</span> <input
						class="form-control" name="w-title" type="text">
				</div>
			</div>
			<textarea name="w-content" id="editor"></textarea>
			 <div class="radio">
          <label>
            <input type="radio" name="w-rule" id="w-rule-01" value="1" checked="">
            Public
          </label>
          <label>
            <input type="radio" name="w-rule" id="w-rule-02" value="2">
            Private
          </label>
          <label>
            <input type="radio" name="w-rule" id="w-rule-03" value="3">
            Using password
          </label>
          <input class="hidden" type="password" name="w-password" id="inputPassword" placeholder="Password">
        </div>
        <div class="radio">
          
        </div>
        <div class="radio">
          
        </div>
			<div style="float: left">
				<button type="submit" class="btn btn-default">Save wish</button>
			</div>
		</div>
	</div>
</div>

</form>
<form id="uploadimage" action="@routes.Upload.upload()" method="post" enctype="multipart/form-data">
	<input name="image" id="input-img" type="file" style="visibility: hidden;" />
</form>

<script>

$('#img-click').click(function() {
    $('#input-img').click();
    $('#input-img').change(function(){
    	console.log("changed");
    	var cur = $("#uploadimage")[0];
		$.ajax({
			url : "@routes.Upload.upload()",
			type : "POST",
			data : new FormData(cur),
			contentType : false,
			cache : false,
			processData : false,
			success : function(data) {
				console.log("DATA:"+data);
				$("#img-click").attr("src","@routes.Assets.versioned("")" + data);
				$("#img-link").val("@routes.Assets.versioned("")" + data);
			}
		});
    });
});

</script>

<script>
$("#w-rule-01,#wl-rule-02").click(function(){
	$("#inputPassword").addClass('hidden');
	});
$('#w-rule-03').click(function(){
	$("#inputPassword").removeClass('hidden');
});
</script>
