@(action:Boolean, msg : String) @* * true is sign up, and
fals is sign in *@

<div class='container'>
	<form class="form-horizontal" method="post">
		<fieldset>
			<legend>@if(action){ Sign up! }else{ Sign in! }</legend>
			<div class="row">
				<div class="col-lg-10 col-lg-offset-2">
				<div class="col-lg-2">
				</div>
				<div class="col-lg-5">
					<span class="label label-warning">@msg</span>
				</div>				
				</div>
			</div>
			<br>
			<div class=""></div>
			<div class="row">
			<div class="col-lg-10 col-lg-offset-2">
				<div class="form-group">
					<label for="inputUsername" class="col-lg-2 control-label">Username</label>
					<div class="col-lg-5">
						<input type="text" name="username" class="form-control" id="inputUsername"
							placeholder="Username">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword" class="col-lg-2 control-label">Password</label>
					<div class="col-lg-5">
						<input type="password" name="password" class="form-control" id="inputPassword"
							placeholder="Password">
					</div>
				</div>
				@if(action){
				<div class="form-group">
					<label for="inputConfirm" class="col-lg-2 control-label">Confirm</label>
					<div class="col-lg-5">
						<input type="password" name="confirm" class="form-control" id="inputConfirm"
							placeholder="Confirm">
					</div>
				</div>
				}
			</div>
			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-5">
					<button type="reset" class="btn btn-default">Cancel</button>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
			</div>
		</fieldset>
	</form>
</div>